<!DOCTYPE html>
<html>
<head>
  <meta charset="uft-8">

  <title>Bootstrap 模板</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--确保轮播动态执行的-->
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<style>
    body{
        padding-top:50px;
    }

    .carousel {
        height: 500px;
        background-color: #000;
        margin-bottom:60px;
    }

    .carousel .item {
        height: 500px;
        background-color: #000;
    }
    .carousel img {
        width: 20%;

    }

    .container img{
        width:40%;
    }

    .carousel-caption p{
        margin-bottom:20px;
        font-size:20px;
        line-height:1.8;
    }

    #summary-container .col-md-4 {
        text-align: center;
    }

    hr.divider {
        margin:40px 0;
    }
</style>

<body>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Tggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">现代浏览器博物馆</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">综述</a></li>
                <li><a href="#">简述</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">特点<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Chrome</a></li>
                        <li><a href="#">Firefox</a></li>
                        <li><a href="#">Opera</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Safari</a></li>
                        <li><a href="#">Safari</a></li>
                    </ul>
                </li>
                <li><a href="#">关于</a></li>
            </ul>
        </div>
    </div>
</nav>


<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="images/WP_20150911_002.jpg" alt="First slide">
            <div class="carousel-caption">标题 1</div>
        </div>
        <div class="item">
            <img src="images/WP_20150919_009.jpg"  alt="Second slide">
            <div class="carousel-caption">标题 2</div>
        </div>
        <div class="item">
            <img src="images/WP_20151113_002.jpg" alt="Third slide">
            <div class="carousel-caption">标题 3</div>
        </div>
        <div class="item">
            <img src=" " alt="Fourth slide">
            <div class="carousel-caption">标题 4</div>
        </div>
        <div class="item">
            <img src="images/" alt="Fifth slide">
            <div class="carousel-caption">标题 5</div>
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">上一页</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">下一页</span>
    </a>
</div>



<div class="container" id="summary-container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-circle" src="images/WP_20150919_009.jpg" alt="My daughter Sophia">
            <h3>My daughter Ellie</h3>
            <p>我的大女儿烁烁是<br>非常活波可爱的一个小朋友！</p>
            <p><a class="btn btn-default" href="#" role="button">点击</a></p>
        </div>

        <div class="col-md-4">
            <img class="img-circle" src="images/WP_20150911_002.jpg" alt="My daughter Ellie">
            <h3>My daughter Ellie</h3>
            <p>我的小女儿悦悦也是<br>非常活波可爱的一个小朋友！</p>
            <p><a class="btn btn-default" href="#" role="button">点击</a></p>
        </div>

        <div class="col-md-4">
            <img class="img-circle" src="images/WP_20151113_002.jpg" alt="My daughter ">
            <h3>My daughter Ellie</h3>
            <p>我的小女儿悦悦也是<br>非常活波可爱的一个小朋友！</p>
            <p><a class="btn btn-default" href="#" role="button">点击</a></p>
        </div>
    </div>
    <hr class="divider">
</div>




<script src='https://code.jquery.com/jquery-1.12.4.js'></script>
<script src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>

</body>
</html>













