<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="uft-8">
    <title>Zhiguo's blog</title>
    <link rel='stylesheet' href='/stylesheets/style1.css'/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
</head>

<body>

<div class="prof-box">
    <img src="images/zhiguo/prof.JPG" class="prof-pic">
    <h1>Zhiguo Wang</h1>
    <h5>Web and Software developer</h5>
  <div class="line-break"></div>
    <p>My passion is to create awesome web applications and softwares.</p>

<div class="social-icon">
    <a href="https://www.facebook.com/zhiguo.wang1207" target="_blank">
        <i class="fa fa-facebook-official" aris-hidden="true"></i></a>
    <i class="fa fa-twitter-square" aris-hidden="true" ></i>
    <a href="https://www.linkedin.com/feed/" target="_blank">
        <i class="fa fa-linkedin-square" aris-hidden="true" ></i></a>
</div>
</div>

</body>

</html>