<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="uft-8">
    <link rel='stylesheet' href='/stylesheets/style2.css'/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">

</head>

<body>

<div class="prof-box">
    <img src="images/zhixin/prof.jpg" class="prof-pic">
    <h1>Zhixin Miao</h1>
    <h5>I'm a senior scientist, and my background is chemistry!</h5>
<div class="line-break"></div>
    <p>I'm working in a company, which is located in Austin, TX.</p>


<div class="social-icon">
    <a href="" target="_blank">
        <i class="fa fa-facebook-official" aris-hidden="true"></i></a>
    <i class="fa fa-twitter-square" aris-hidden="true" ></i>
    <a href="" target="_blank">
        <i class="fa fa-linkedin-square" aris-hidden="true" ></i></a>
</div>
</div>

</body>
</html>