
html {
    background: url(../images/zhixin/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Helvetica Neue', sans-serif;
}

.prof-box {
    height: 450px;
    width: 350px;
    margin: 0 auto;
    margin-top: 100px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    color: white;
    text-align: center;
}

.prof-pic {
    border-radius: 70%;
    height: 140px;
    width: 185px;
    transform: rotate(270deg);
}

h1 {
    font-weight:100;
    letter-spacing: 4px;
    font-size: 40px;
}

p{
    font-weight: 200;
    letter-spacing: 1px;
}

.line-break {
    width:300px;
    border-top: 1px solid white;
    margin: 0 auto;
}

.social-icon{
    font-size: 40px;
}

.social-icon a{
    color: white;
}

.line-break {
    width: 300px;
    margin: 0 auto;
    border-top: 1px solid white;
}